dist/
lib/
.data
.temp
.cache

tsconfig.tsbuildinfo
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

CLAUDE.md

.DS_Store
.idea
.vscode
.claude
*.suo
*.ntvs*
*.njsproj
*.sln
