.VPSidebarItem {
  &.is-link {
    margin: 4px 0;
  }

  .items {
    overflow: hidden;
  }

  .items:first-child {
    .VPSidebarItem.is-link:first-child {
      padding-top: 4px;
      padding-bottom: 4px;
      line-height: 24px;
      font-size: 14px;
      margin: 0;

      p.text {
        font-weight: 700;
        color: var(--vp-c-text-1);
      }

      &.is-active p.text {
        color: var(--vp-c-brand);
      }
    }
  }

  .item {
    p.text {
      padding: 0;
    }
  }
}

@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .container .content {
    padding-right: 0;

    .content-body {
      padding-right: calc((100vw - var(--vp-layout-max-width)) / 2 + 32px);
    }
  }
}

.VPDocAsideOutline .outline-link {
  line-height: 28px;
  font-size: 13px;
}

.VPLocalNav.has-sidebar {
  --vp-c-gutter: var(--vp-c-border);

  @media (min-width: 960px) and (max-width: 1280px) {
    border-bottom: none;
    background: transparent;
    --vp-z-index-local-nav: 35;

    .container {
      top: 0;
      position: fixed;
      height: var(--vp-nav-height);
      z-index: var(--vp-z-index-local-nav);
    }

    .VPLocalNavOutlineDropdown {
      button {
        font-size: 14px;
        font-weight: 500;
        color: var(--vp-c-text-1);
        transition: color 0.25s;
      }
      .items {
        top: 60px;
        left: 20px;
      }
    }
  }
}

@media (max-width: 960px) {
  .VPNav .VPNavBar .divider-line {
    background-color: var(--vp-c-border);
  }
}

@media (min-width: 960px) {
  .VPNav .VPNavBar .divider-line {
    background-color: transparent !important;
  
    &::before {
      display: block;
      width: 100%;
      height: 32px;
      background: linear-gradient(var(--vp-c-bg), transparent 70%);
      content: '';
    }
  }
}

.layout-home .divider-line {
  display: none;
}
