:root {
  // modified from GitHub Light Default
  --shiki-token-text: #000000;
  --shiki-token-constant: #005CC5;
  --shiki-token-number: #005CC5;
  --shiki-token-string: #22863A;
  --shiki-token-comment: #6A737D;
  --shiki-token-keyword: #D73A49;
  --shiki-token-parameter: #E36209;
  --shiki-token-function: #6F42C1;
  --shiki-token-operator: #D73A49;
  --shiki-token-punctuation: #032F62;
  --vp-code-block-bg: var(--vp-c-bg-alt);
  --vp-code-lang: var(--vp-c-text-light-3);
  --vp-code-line-highlight-color: #0000000A;
}

html.dark {
  --shiki-token-text: #ABB2BF;
  --shiki-token-constant: #E5C07B;
  --shiki-token-number: #D19A66;
  --shiki-token-string: #98C379;
  --shiki-token-comment: #7F848E;
  --shiki-token-keyword: #C678DD;
  --shiki-token-parameter: #E06C75;
  --shiki-token-function: #61AFEF;
  --shiki-token-operator: #56B6C2;
  --shiki-token-punctuation: #ABB2BF;
  --vp-code-line-highlight-color: #000000A0;
}

html.dark {
  --vp-code-lang: var(--vp-c-text-dark-3);
}

.vp-doc [class*='language-'] > span.lang {
  color: var(--vp-code-lang);
}
