.vp-doc {
  ol, ul {
    line-height: 1.75;
    padding-left: 1.5rem;
  }

  li + li {
    margin-top: 0;
  }

  th, td {
    padding: 0.6em 1em;
  }

  li > ol, li > ul {
    margin-top: 0;
  }

  h3 + h3 {
    margin-top: 1rem;
  }
  
  div[class*='language-'] + div[class*='language-'] {
    margin-top: 0;
  }

  sub, sup {
    line-height: 0;
  }

  blockquote > p {
    font-size: 15px;
    line-height: 1.7;
  }
}

.vp-doc .custom-block {
  padding-top: 8px;

  .custom-block-title {
    display: none;
  }
}

html:not(.dark) .dark-only {
  display: none;
}

html.dark .light-only {
  display: none;
}

mjx-container {
  font-size: 0.95em;
  overflow-x: visible;
}
