:root {
  --vp-c-brand: #5440BF;                                // 250 50 50
  --vp-c-brand-light: #6553C5;                          // 250 50 55
  --vp-c-brand-lighter: #7666CC;                        // 250 50 60
  --vp-c-brand-dark: #5545A1;                           // 250 40 45
  --vp-c-brand-darker: #524785;                         // 250 30 40
  --vp-c-brand-dimm: #4A3D8F10;                         // 250 40 40
  --vp-c-brand: #5440BF;                                // 250 50 50
  --vp-c-brand-alt: #8F17E6;                            // 275 90 90
}

html.dark {
  --vp-c-brand: #8F7DE8;                                // 250 70 70
  --vp-c-brand-light: #705CD6;                          // 250 60 60
  --vp-c-brand-lighter: #5440BF;                        // 250 50 50
  --vp-c-brand-dark: #A293EC;                           // 250 70 75
  --vp-c-brand-darker: #B4A8F0;                         // 250 70 80
  --vp-c-brand-dimm: #B4A8F010;                         // 250 70 80
  --vp-c-brand-alt: #C079F2;                            // 275 50 95
}

:root {
  --vp-c-red-dimm-1: var(--vp-c-red-dark);
  --vp-c-red-dimm-2: var(--vp-c-red-darker);
  --vp-c-yellow-dimm-1: var(--vp-c-yellow-dark);
  --vp-c-yellow-dimm-2: var(--vp-c-yellow-darker);

  --vp-custom-block-tip-border: var(--vp-c-brand-light);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);

  --vp-badge-text: var(--vp-c-text-dark-1);
  --vp-badge-tip-bg: var(--vp-c-brand);
  --vp-badge-warning-bg: var(--vp-c-yellow-darker);
  --vp-badge-danger-bg: var(--vp-c-red-darker);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.el-scrollbar__bar {
  z-index: 50;
}
