:root {
  --vp-nav-height: 64px;

  --vp-custom-block-tip-text: var(--vp-c-brand-1);
  --vp-custom-block-info-text: var(--vp-c-text-1);
  --vp-custom-block-success-text: var(--vp-c-green-1);
  --vp-custom-block-warning-text: var(--vp-c-yellow-1);
  --vp-custom-block-danger-text: var(--vp-c-red-1);

  --vp-custom-block-tip-border: var(--vp-c-brand-1);
  --vp-custom-block-info-border: var(--vp-c-gray-1);
  --vp-custom-block-success-border: var(--vp-c-green-1);
  --vp-custom-block-warning-border: var(--vp-c-yellow-1);
  --vp-custom-block-danger-border: var(--vp-c-red-1);

  --vp-badge-tip-bg: var(--vp-c-brand);
  --vp-badge-info-bg: var(--vp-c-gray-2);
  --vp-badge-success-bg: var(--vp-c-green-2);
  --vp-badge-warning-bg: var(--vp-c-yellow-2);
  --vp-badge-danger-bg: var(--vp-c-red-2);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.el-scrollbar__bar {
  z-index: 50;
}

.outline {
  outline-style: none;
}
