html {
  --docsearch-primary-color: var(--vp-c-brand) !important;
  --docsearch-modal-background: var(--vp-c-bg-alt) !important;
}

.el-scrollbar__bar {
  z-index: 50;
}

.outline {
  outline-style: none;
}
